# Desafio para o programa de trainee iBlue
Matheus Araujo Souza

In [1]:
#Bibliotecas que serão utilizadas 
import pandas as pd
import json
import os
import psycopg2
import glob

## Lendo os arquivos Json events

In [2]:
df = pd.read_json(r'2018-11-09-events.json', lines=True, encoding='utf-8-sig')

In [3]:
df

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,Muse,Logged In,Harper,M,1,Barrett,209.50159,paid,"New York-Newark-Jersey City, NY-NJ-PA",PUT,NextSong,1.540685e+12,275,Supermassive Black Hole (Twilight Soundtrack V...,200,1541721977796,"""Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebK...",42
1,Beastie Boys,Logged In,Harper,M,2,Barrett,161.56689,paid,"New York-Newark-Jersey City, NY-NJ-PA",PUT,NextSong,1.540685e+12,275,Lighten Up,200,1541722186796,"""Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebK...",42
2,Shakira,Logged In,Harper,M,3,Barrett,145.84118,paid,"New York-Newark-Jersey City, NY-NJ-PA",PUT,NextSong,1.540685e+12,275,Pienso En Ti,200,1541722347796,"""Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebK...",42
3,Selena,Logged In,Harper,M,4,Barrett,172.66893,paid,"New York-Newark-Jersey City, NY-NJ-PA",PUT,NextSong,1.540685e+12,275,Amor Prohibido,200,1541722492796,"""Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebK...",42
4,Kid Cudi Vs Crookers,Logged In,Harper,M,5,Barrett,162.97751,paid,"New York-Newark-Jersey City, NY-NJ-PA",PUT,NextSong,1.540685e+12,275,Day 'N' Nite,200,1541722664796,"""Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebK...",42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278,Kid Cudi Vs Crookers,Logged In,Jayden,M,9,Graves,162.97751,paid,"Marinette, WI-MI",PUT,NextSong,1.540664e+12,297,Day 'N' Nite,200,1541804875796,"""Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebK...",25
279,Pat Martino,Logged In,Jayden,M,10,Graves,355.94404,paid,"Marinette, WI-MI",PUT,NextSong,1.540664e+12,297,El Hombre,200,1541805037796,"""Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebK...",25
280,Jason Mraz,Logged In,Jayden,M,11,Graves,218.40934,paid,"Marinette, WI-MI",PUT,NextSong,1.540664e+12,297,Geek In The Pink [Phil Tan Remix],200,1541805392796,"""Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebK...",25
281,Dwight Yoakam,Logged In,Jayden,M,12,Graves,239.30730,paid,"Marinette, WI-MI",PUT,NextSong,1.540664e+12,297,You're The One,200,1541805610796,"""Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebK...",25
282,Smokey Robinson & The Miracles,Logged In,Jayden,M,13,Graves,168.90730,paid,"Marinette, WI-MI",PUT,NextSong,1.540664e+12,297,I Second That Emotion,200,1541805849796,"""Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebK...",25

In [4]:
df2=pd.read_json(r'2018-11-03-events.json', lines=True, encoding='utf-8-sig')

In [5]:
df2

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,None,Logged Out,None,None,0,None,NaN,free,None,PUT,Login,NaN,52,None,307,1541207073796,None,
1,None,Logged In,Celeste,F,1,Williams,NaN,free,"Klamath Falls, OR",GET,Home,1.541078e+12,52,None,200,1541207123796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",53
2,Mynt,Logged In,Celeste,F,2,Williams,166.94812,free,"Klamath Falls, OR",PUT,NextSong,1.541078e+12,52,Playa Haters,200,1541207150796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",53
3,Taylor Swift,Logged In,Celeste,F,3,Williams,230.47791,free,"Klamath Falls, OR",PUT,NextSong,1.541078e+12,52,You Belong With Me,200,1541207316796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",53
4,Amy Winehouse,Logged In,Celeste,F,4,Williams,229.85098,free,"Klamath Falls, OR",PUT,NextSong,1.541078e+12,52,Valerie,200,1541207546796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",53
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,The Smiths,Logged In,Chloe,F,1,Cuevas,196.67546,free,"San Francisco-Oakland-Hayward, CA",PUT,NextSong,1.540941e+12,195,The Boy With The Thorn In His Side,200,1541279668796,Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20...,49
107,Quique Gonzalez,Logged In,Chloe,F,2,Cuevas,214.20363,free,"San Francisco-Oakland-Hayward, CA",PUT,NextSong,1.540941e+12,195,Cuando Eramos Reyes,200,1541279864796,Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20...,49
108,Muse,Logged In,Chloe,F,3,Cuevas,210.46812,free,"San Francisco-Oakland-Hayward, CA",PUT,NextSong,1.540941e+12,195,Pink Ego Box,200,1541280078796,Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20...,49
109,Sugarland,Logged In,Cecilia,F,0,Owens,247.77098,free,"Atlanta-Sandy Springs-Roswell, GA",PUT,NextSong,1.541032e+12,5,Just Might (Make Me Believe),200,1541287022796,Mozilla/5.0 (Windows NT 6.1; WOW64; rv:32.0) G...,6
110,A Hope For Home,Logged In,Cecilia,F,1,Owens,388.38812,free,"Atlanta-Sandy Springs-Roswell, GA",PUT,NextSong,1.541032e+12,5,Absolution: Of Flight and Failure,200,1541287269796,Mozilla/5.0 (Windows NT 6.1; WOW64; rv:32.0) G...,6

In [6]:
df2.columns

Index(['artist', 'auth', 'firstName', 'gender', 'itemInSession', 'lastName',
       'length', 'level', 'location', 'method', 'page', 'registration',
       'sessionId', 'song', 'status', 'ts', 'userAgent', 'userId'],
      dtype='object')

In [7]:
#testando a seleção de colunas especificas  
artist = df["artist"]

In [8]:
artist

0                                Muse
1                        Beastie Boys
2                             Shakira
3                              Selena
4                Kid Cudi Vs Crookers
                    ...
278              Kid Cudi Vs Crookers
279                       Pat Martino
280                        Jason Mraz
281                     Dwight Yoakam
282    Smokey Robinson & The Miracles
Name: artist, Length: 283, dtype: object

In [9]:
# Pegando todos os nomes das colunas
df.columns

Index(['artist', 'auth', 'firstName', 'gender', 'itemInSession', 'lastName',
       'length', 'level', 'location', 'method', 'page', 'registration',
       'sessionId', 'song', 'status', 'ts', 'userAgent', 'userId'],
      dtype='object')

In [10]:
#Lendo arquivos de json song_data 
df3=pd.read_json(r'TRAAARJ128F9320760.json', lines=True, encoding='utf-8-sig')

In [11]:
df3

,num_songs,artist_id,artist_latitude,artist_longitude,artist_location,artist_name,song_id,title,duration,year
0,1,AR8ZCNI1187B9A069B,NaN,NaN,,Planet P Project,SOIAZJW12AB01853F1,Pink World,269.81832,1984

In [12]:
#Leitura de todos os arquivos da pasta song_data e a concatenacao para a criacao de um dicionario 
path_to_jsonfiles = 'C:/Users/55199/Desktop/CV/Iblue/data/song_data/A/A/A'
alldicts = []
for file in os.listdir(path_to_jsonfiles):
    full_filename = "%s/%s" % (path_to_jsonfiles, file)
    with open(full_filename,'r') as fi:
        dict = json.load(fi)
        alldicts.append(dict)

In [13]:
alldicts

[{'num_songs': 1,
  'artist_id': 'ARD7TVE1187B99BFB1',
  'artist_latitude': None,
  'artist_longitude': None,
  'artist_location': 'California - LA',
  'artist_name': 'Casual',
  'song_id': 'SOMZWCG12A8C13C480',
  'title': "I Didn't Mean To",
  'duration': 218.93179,
  'year': 0},
 {'num_songs': 1,
  'artist_id': 'ARMJAGH1187FB546F3',
  'artist_latitude': 35.14968,
  'artist_longitude': -90.04892,
  'artist_location': 'Memphis, TN',
  'artist_name': 'The Box Tops',
  'song_id': 'SOCIWDW12A8C13D406',
  'title': 'Soul Deep',
  'duration': 148.03546,
  'year': 1969},
 {'num_songs': 1,
  'artist_id': 'ARKRRTF1187B9984DA',
  'artist_latitude': None,
  'artist_longitude': None,
  'artist_location': '',
  'artist_name': 'Sonora Santanera',
  'song_id': 'SOXVLOJ12AB0189215',
  'title': 'Amor De Cabaret',
  'duration': 177.47546,
  'year': 0},
 {'num_songs': 1,
  'artist_id': 'AR7G5I41187FB4CE6C',
  'artist_latitude': None,
  'artist_longitude': None,
  'artist_location': 'London, England',
  'artist_name': 'Adam Ant',
  'song_id': 'SONHOTT12A8C13493C',
  'title': 'Something Girls',
  'duration': 233.40363,
  'year': 1982},
 {'num_songs': 1,
  'artist_id': 'ARXR32B1187FB57099',
  'artist_latitude': None,
  'artist_longitude': None,
  'artist_location': '',
  'artist_name': 'Gob',
  'song_id': 'SOFSOCN12A8C143F5D',
  'title': 'Face the Ashes',
  'duration': 209.60608,
  'year': 2007},
 {'num_songs': 1,
  'artist_id': 'ARKFYS91187B98E58F',
  'artist_latitude': None,
  'artist_longitude': None,
  'artist_location': '',
  'artist_name': 'Jeff And Sheri Easter',
  'song_id': 'SOYMRWW12A6D4FAB14',
  'title': 'The Moon And I (Ordinary Day Album Version)',
  'duration': 267.7024,
  'year': 0},
 {'num_songs': 1,
  'artist_id': 'ARD0S291187B9B7BF5',
  'artist_latitude': None,
  'artist_longitude': None,
  'artist_location': 'Ohio',
  'artist_name': 'Rated R',
  'song_id': 'SOMJBYD12A6D4F8557',
  'title': 'Keepin It Real (Skit)',
  'duration': 114.78159,
  'year': 0},
 {'num_songs': 1,
  'artist_id': 'AR10USD1187B99F3F1',
  'artist_latitude': None,
  'artist_longitude': None,
  'artist_location': 'Burlington, Ontario, Canada',
  'artist_name': 'Tweeterfriendly Music',
  'song_id': 'SOHKNRJ12A6701D1F8',
  'title': 'Drop of Rain',
  'duration': 189.57016,
  'year': 0},
 {'num_songs': 1,
  'artist_id': 'AR8ZCNI1187B9A069B',
  'artist_latitude': None,
  'artist_longitude': None,
  'artist_location': '',
  'artist_name': 'Planet P Project',
  'song_id': 'SOIAZJW12AB01853F1',
  'title': 'Pink World',
  'duration': 269.81832,
  'year': 1984},
 {'num_songs': 1,
  'artist_id': 'ARNTLGG11E2835DDB9',
  'artist_latitude': None,
  'artist_longitude': None,
  'artist_location': '',
  'artist_name': 'Clp',
  'song_id': 'SOUDSGM12AC9618304',
  'title': 'Insatiable (Instrumental Version)',
  'duration': 266.39628,
  'year': 0},
 {'num_songs': 1,
  'artist_id': 'ARGSJW91187B9B1D6B',
  'artist_latitude': 35.21962,
  'artist_longitude': -80.01955,
  'artist_location': 'North Carolina',
  'artist_name': 'JennyAnyKind',
  'song_id': 'SOQHXMF12AB0182363',
  'title': 'Young Boy Blues',
  'duration': 218.77506,
  'year': 0}]

In [14]:
##convertendo um json dataset de um dicionario para um dataframe
df5 = pd.DataFrame(alldicts)

In [15]:
df5

,num_songs,artist_id,artist_latitude,artist_longitude,artist_location,artist_name,song_id,title,duration,year
0,1,ARD7TVE1187B99BFB1,NaN,NaN,California - LA,Casual,SOMZWCG12A8C13C480,I Didn't Mean To,218.93179,0
1,1,ARMJAGH1187FB546F3,35.14968,-90.04892,"Memphis, TN",The Box Tops,SOCIWDW12A8C13D406,Soul Deep,148.03546,1969
2,1,ARKRRTF1187B9984DA,NaN,NaN,,Sonora Santanera,SOXVLOJ12AB0189215,Amor De Cabaret,177.47546,0
3,1,AR7G5I41187FB4CE6C,NaN,NaN,"London, England",Adam Ant,SONHOTT12A8C13493C,Something Girls,233.40363,1982
4,1,ARXR32B1187FB57099,NaN,NaN,,Gob,SOFSOCN12A8C143F5D,Face the Ashes,209.60608,2007
5,1,ARKFYS91187B98E58F,NaN,NaN,,Jeff And Sheri Easter,SOYMRWW12A6D4FAB14,The Moon And I (Ordinary Day Album Version),267.70240,0
6,1,ARD0S291187B9B7BF5,NaN,NaN,Ohio,Rated R,SOMJBYD12A6D4F8557,Keepin It Real (Skit),114.78159,0
7,1,AR10USD1187B99F3F1,NaN,NaN,"Burlington, Ontario, Canada",Tweeterfriendly Music,SOHKNRJ12A6701D1F8,Drop of Rain,189.57016,0
8,1,AR8ZCNI1187B9A069B,NaN,NaN,,Planet P Project,SOIAZJW12AB01853F1,Pink World,269.81832,1984
9,1,ARNTLGG11E2835DDB9,NaN,NaN,,Clp,SOUDSGM12AC9618304,Insatiable (Instrumental Version),266.39628,0
10,1,ARGSJW91187B9B1D6B,35.21962,-80.01955,North Carolina,JennyAnyKind,SOQHXMF12AB0182363,Young Boy Blues,218.77506,0

In [16]:
df5.columns

Index(['num_songs', 'artist_id', 'artist_latitude', 'artist_longitude',
       'artist_location', 'artist_name', 'song_id', 'title', 'duration',
       'year'],
      dtype='object')

In [17]:
#Renomeando as colunas para realizar o merge 
df_new = df2.rename(columns={'artist': 'artist_name','location':'artist_location'})

In [18]:
df_new.columns

Index(['artist_name', 'auth', 'firstName', 'gender', 'itemInSession',
       'lastName', 'length', 'level', 'artist_location', 'method', 'page',
       'registration', 'sessionId', 'song', 'status', 'ts', 'userAgent',
       'userId'],
      dtype='object')

In [19]:
#Dando merge nas matrizes  
result = pd.merge(df_new, df5, how="outer", on=["artist_name","artist_location"])

In [20]:
result

,artist_name,auth,firstName,gender,itemInSession,lastName,length,level,artist_location,method,...,userAgent,userId,num_songs,artist_id,artist_latitude,artist_longitude,song_id,title,duration,year
0,None,Logged Out,None,None,0.0,None,NaN,free,None,PUT,...,None,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,None,Logged Out,None,None,0.0,None,NaN,free,None,GET,...,None,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,None,Logged In,Celeste,F,1.0,Williams,NaN,free,"Klamath Falls, OR",GET,...,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Mynt,Logged In,Celeste,F,2.0,Williams,166.94812,free,"Klamath Falls, OR",PUT,...,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Taylor Swift,Logged In,Celeste,F,3.0,Williams,230.47791,free,"Klamath Falls, OR",PUT,...,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,Rated R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ohio,NaN,...,NaN,NaN,1.0,ARD0S291187B9B7BF5,NaN,NaN,SOMJBYD12A6D4F8557,Keepin It Real (Skit),114.78159,0.0
118,Tweeterfriendly Music,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, Ontario, Canada",NaN,...,NaN,NaN,1.0,AR10USD1187B99F3F1,NaN,NaN,SOHKNRJ12A6701D1F8,Drop of Rain,189.57016,0.0
119,Planet P Project,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,NaN,...,NaN,NaN,1.0,AR8ZCNI1187B9A069B,NaN,NaN,SOIAZJW12AB01853F1,Pink World,269.81832,1984.0
120,Clp,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,NaN,...,NaN,NaN,1.0,ARNTLGG11E2835DDB9,NaN,NaN,SOUDSGM12AC9618304,Insatiable (Instrumental Version),266.39628,0.0
121,JennyAnyKind,NaN,NaN,NaN,NaN,NaN,NaN,NaN,North Carolina,NaN,...,NaN,NaN,1.0,ARGSJW91187B9B1D6B,35.21962,-80.01955,SOQHXMF12AB0182363,Young Boy Blues,218.77506,0.0

In [21]:
#observando a existencia de diferentes colunas 
columns = list(map(lambda x: list(x.columns), [result, df5]))
data = pd.DataFrame(columns)
data = data.fillna("")
data.drop_duplicates(keep="first", inplace=True)
if len(data) > 1:
  print("DIFFERENT COLUMNS")

DIFFERENT COLUMNS

In [22]:
#Nome das colunas da matriz resultante do merge 
result.columns

Index(['artist_name', 'auth', 'firstName', 'gender', 'itemInSession',
       'lastName', 'length', 'level', 'artist_location', 'method', 'page',
       'registration', 'sessionId', 'song', 'status', 'ts', 'userAgent',
       'userId', 'num_songs', 'artist_id', 'artist_latitude',
       'artist_longitude', 'song_id', 'title', 'duration', 'year'],
      dtype='object')

##  Tabela Usuario

In [23]:
user=result.filter(['userId','firstName','lastName','gender','level'], axis=1)
user

    userId firstName  lastName gender level
0               None      None   None  free
1               None      None   None  free
2       53   Celeste  Williams      F  free
3       53   Celeste  Williams      F  free
4       53   Celeste  Williams      F  free
..     ...       ...       ...    ...   ...
117    NaN       NaN       NaN    NaN   NaN
118    NaN       NaN       NaN    NaN   NaN
119    NaN       NaN       NaN    NaN   NaN
120    NaN       NaN       NaN    NaN   NaN
121    NaN       NaN       NaN    NaN   NaN

[122 rows x 5 columns]

## Tabela de musica

In [24]:
music=result.filter(['song_id','title','artist_id','year','duration'], axis=1)
music

,song_id,title,artist_id,year,duration
0,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...
117,SOMJBYD12A6D4F8557,Keepin It Real (Skit),ARD0S291187B9B7BF5,0.0,114.78159
118,SOHKNRJ12A6701D1F8,Drop of Rain,AR10USD1187B99F3F1,0.0,189.57016
119,SOIAZJW12AB01853F1,Pink World,AR8ZCNI1187B9A069B,1984.0,269.81832
120,SOUDSGM12AC9618304,Insatiable (Instrumental Version),ARNTLGG11E2835DDB9,0.0,266.39628
121,SOQHXMF12AB0182363,Young Boy Blues,ARGSJW91187B9B1D6B,0.0,218.77506

## Tabela de artista

In [25]:
artist=result.filter(['artist_id','artist_name','artist_location','artist_latitude','artist_longitude'], axis=1)
artist=artist.rename(columns={'artist_name': 'name','artist_location':'location  ','artist_latitude':'latitude','artist_longitude':'longitude'})

In [26]:
artist

,artist_id,name,location,latitude,longitude
0,NaN,None,None,NaN,NaN
1,NaN,None,None,NaN,NaN
2,NaN,None,"Klamath Falls, OR",NaN,NaN
3,NaN,Mynt,"Klamath Falls, OR",NaN,NaN
4,NaN,Taylor Swift,"Klamath Falls, OR",NaN,NaN
...,...,...,...,...,...
117,ARD0S291187B9B7BF5,Rated R,Ohio,NaN,NaN
118,AR10USD1187B99F3F1,Tweeterfriendly Music,"Burlington, Ontario, Canada",NaN,NaN
119,AR8ZCNI1187B9A069B,Planet P Project,,NaN,NaN
120,ARNTLGG11E2835DDB9,Clp,,NaN,NaN
121,ARGSJW91187B9B1D6B,JennyAnyKind,North Carolina,35.21962,-80.01955

## Tabela de tempo

In [27]:
t = pd.to_datetime(result['ts'], unit='ms')

In [28]:
time = (result['ts'].values, t.dt.hour.values, t.dt.day.values, t.dt.week.values, t.dt.month.values, t.dt.year.values, t.dt.weekday.values)
column_labels = ['start_time', 'hora', 'dia', 'semana', 'mês', 'ano', 'dia da semana']
time_df = pd.DataFrame(data=list(zip(*time)), columns=column_labels)

In [29]:
time_df

       start_time  hora  dia  semana   mês     ano  dia da semana
0    1.541207e+12   1.0  3.0    44.0  11.0  2018.0            5.0
1    1.541240e+12  10.0  3.0    44.0  11.0  2018.0            5.0
2    1.541207e+12   1.0  3.0    44.0  11.0  2018.0            5.0
3    1.541207e+12   1.0  3.0    44.0  11.0  2018.0            5.0
4    1.541207e+12   1.0  3.0    44.0  11.0  2018.0            5.0
..            ...   ...  ...     ...   ...     ...            ...
117           NaN   NaN  NaN     NaN   NaN     NaN            NaN
118           NaN   NaN  NaN     NaN   NaN     NaN            NaN
119           NaN   NaN  NaN     NaN   NaN     NaN            NaN
120           NaN   NaN  NaN     NaN   NaN     NaN            NaN
121           NaN   NaN  NaN     NaN   NaN     NaN            NaN

[122 rows x 7 columns]

## Tabela songplays

In [30]:
df_new_song = result.rename(columns={'ts': 'start_time'})

In [31]:
song = pd.merge(df_new_song, time_df, how="outer", on=["start_time"])

In [32]:
song.columns

Index(['artist_name', 'auth', 'firstName', 'gender', 'itemInSession',
       'lastName', 'length', 'level', 'artist_location', 'method', 'page',
       'registration', 'sessionId', 'song', 'status', 'start_time',
       'userAgent', 'userId', 'num_songs', 'artist_id', 'artist_latitude',
       'artist_longitude', 'song_id', 'title', 'duration', 'year', 'hora',
       'dia', 'semana', 'mês', 'ano', 'dia da semana'],
      dtype='object')

In [33]:
songplay=song.filter(['start_time','useid','song_id','artist_id','sessionId','artist_location','userAgent'], axis=1)
songplay=songplay.rename(columns={'artist_location': 'location'})
songplay

,start_time,song_id,artist_id,sessionId,location,userAgent
0,1.541207e+12,NaN,NaN,52.0,None,None
1,1.541240e+12,NaN,NaN,18.0,None,None
2,1.541207e+12,NaN,NaN,52.0,"Klamath Falls, OR","""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK..."
3,1.541207e+12,NaN,NaN,52.0,"Klamath Falls, OR","""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK..."
4,1.541207e+12,NaN,NaN,52.0,"Klamath Falls, OR","""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK..."
...,...,...,...,...,...,...
227,NaN,SOQHXMF12AB0182363,ARGSJW91187B9B1D6B,NaN,North Carolina,NaN
228,NaN,SOQHXMF12AB0182363,ARGSJW91187B9B1D6B,NaN,North Carolina,NaN
229,NaN,SOQHXMF12AB0182363,ARGSJW91187B9B1D6B,NaN,North Carolina,NaN
230,NaN,SOQHXMF12AB0182363,ARGSJW91187B9B1D6B,NaN,North Carolina,NaN
231,NaN,SOQHXMF12AB0182363,ARGSJW91187B9B1D6B,NaN,North Carolina,NaN